@model UserIdentity.Models.RoleEditModel
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @*Postuna gidecek bilgiler bunlar olacak------Edit sayfasını post ettiğimizde post actionuna aktarılıyor. [HttpPost] Edit'e geçilen, RoleUpdateModel içerisndeki propertylere yazılıyor-----------*@
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <input type="hidden" name="roleId" value="@Model.Role.Id" />
    @*Postuna gidecek bilgiler bunlar olacak-----------------*@

    <div class="panel panel-primary">
        <div class="panel-heading" style="color:green;">
            Add to @Model.Role.Name
        </div>
        <table class="table table-striped">
            @if (Model.NonMembers.Count() == 0)
            {
                <tr><td colspan="2">Bu role eklenebilecek kullanıcı yok</td></tr>
            }
            else
            {
                <tr>
                    <th> User Id</th>
                    <th>Role</th>
                </tr>

                foreach (var user in Model.NonMembers)
                {
        <tr>
            <td>@user.UserName</td>
            <td> <input type="checkbox" name="IdsToAdd" value="@user.Id" /></td>
            @*Bu sayfadan input alımlarını bu şeklilde yapıyoruz*@
            @*RoleUpdateModel'den sayfaya gelecek olan IdsToAdd(role atanmasını istediğimiz id), Id değerini  value="@user.Id" ile user'in Id'sinden alıyor*@
            @*Kısaca post işlemi yapıldığında seçili olan checkboxların user.Id değerleri RoleUpadateModel içeris IdsToAdd içerisne atılacak*@
        </tr>
                }
            }
        </table>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading" style="color:red;">
            Remove From @Model.Role.Name
        </div>
        <table class="table table-striped">
            @if (Model.Members.Count() == 0)
            {
                <tr><td colspan="2">Bu role eklenmiş kullanıcı yok</td></tr>
            }
            else
            {


                <tr>
                    <th> User Id</th>
                    <th>Role</th>
                </tr>

                foreach (var user in Model.Members)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td> <input type="checkbox" name="IdsToDelete" value="@user.Id" /></td>
                    </tr>
                }
            }
        </table>
    </div>

    <button type="submit" class="btn btn-primary"> Kaydet</button>

}